<div id="main_content" class="clearfix">
    	<div id="main_content_inner">
        <h2>Affiliations</h2>
        <div id="affiliations">
        <ul class="affiliations">
    <li><%= link_to image_tag("mastercard.gif", :alt=>""), prodserv_path(:anchor => "debitcard") %></li>
    <li><%= link_to image_tag("visa.gif", :alt=>""), "https://secure2.arcot.com/vpas/jcfcu_vbvisa/enroll/index.jsp?locale=en_US&amp;bankid=322", :rel=>"confirm external" %></li>
    <li><%= link_to image_tag("allianceonebanner.gif", :alt=>""), "http://www.atmallianceone.org/", :rel=>"confirm external" %></li>
	<li><%= link_to image_tag("banner_5.gif", :alt=>""), "http://www.creditunion.net/", :rel=>"confirm external" %></li>
    <li><%= link_to image_tag("banner_4.gif", :alt=>""), "http://www.bbb.org/", :rel=>"confirm external" %></li>
    <li><%= link_to image_tag("cuna.gif", :alt=>""), "http://www.cuna.org/", :rel=>"confirm external" %></li>
    <li><%= link_to image_tag("kcul.gif", :alt=>""), "http://www.kycul.org/", :rel=>"confirm external" %></li>
    <li><%= image_tag "america_united.gif", :alt=>"" %></li>

</ul>
</div>

        
        
        
        </div>
    </div>