<div id="main_content" class="clearfix">
            <div id="main_content_inner">
            <h2>Calculators</h2>
            <p>For your convenience, we have provided the following loan calculators:</p>
            <ul>
            	<li><%= link_to "Compound Interest", cic_path, :rel=>"popup:500:550:1:0" %></li>
                <li><%= link_to "Credit Card Payoff", ccpc_path, :rel=>"popup:500:550:1:0" %></li>
                <li><%= link_to "Fixed Rate Mortgage", frmc_path,  :rel=>"popup:500:550:1:0" %></li>
                <li><%= link_to "Retirement", rc_path, :rel=>"popup:500:550:1:0" %></li>
                <li><%= link_to "Savings", sc_path, :rel=>"popup:500:550:1:0" %></li>
                <li><%= link_to "Standard Loan", slc_path, :rel=>"popup:500:550:1:0" %></li>
            </ul>
        </div>
    </div>