<div id="main_content" class="clearfix">
    	<div id="main_content_inner">
            <p>
                We've provided some handy links below for your convenience...<br />
                We are not responsible for the content or availability of any
                linked site.
            </p>
            <div class="links clearfix">
                <table class="links">
                    <tr>
                        <th><%= image_tag "l_loc.gif", :alt=>"" %></th>
                    </tr>
                    <tr>
                        <td><%= link_to "Local Weather", "http://www.weather.com", :rel=>"external confirm" %></td>
                    </tr>
                    <tr>
                        <td><%= link_to "Jefferson County School System", "http://www.jefferson.k12.ky.us", :rel=>"external confirm" %></td>
                    </tr>
                    <tr>
                        <td><%= link_to "Louisville/Jefferson County Metro Govt", "http://www.loukymetro.org", :rel=>"external confirm" %></td>
                    </tr>
                    <tr>
                        <td><%= link_to "National Weather", "http://www.weather.com", :rel=>"external confirm" %></td>
                    </tr>
                </table>
                <table class="links">
                    <tr>
                        <th><%= image_tag "l_discounts.gif", :alt=>"" %></th>
                    </tr>
                    <tr>
                        <td><%= link_to "Automobile Discounts", promotions_path(:anchor => "autodiscounts")%></td>
                    </tr>
                </table>
            <table class="links">
                    <tr>
                        <th colspan="3"><%= image_tag "l_fin.gif", :alt=>"" %></th>
                    </tr>
                    <tr>
                        <td><%= link_to "Free Annual Credit Report", "http://www.annualcreditreport.com", :rel=>"external confirm" %></td>
                    </tr>
                    <tr>
                        <td><%= link_to "TransUnion 3-in-1<br />Credit Reports", "http://service.bfast.com/bfast/click?bfmid=33292112&amp;siteid=40328504&amp;bfpage=tu_3-in-1_links", :rel=>"external confirm" %></td>
                    </tr>
                    <tr>
                        <td><%= link_to "Financial Aid", "http://www.finaid.com", :rel=>"external confirm" %></td>
                    </tr>
                <tr>
                        <td><%= link_to "Debt Counselors", "http://www.dca.org", :rel=>"external confirm" %></td>
                </tr>
                </table>
            <table class="links">
                    <tr>
                        <th colspan="3"><%= image_tag "l_pub.gif", :alt=>"" %></th>
                    </tr>
                    <tr>
                        <td><%= link_to "USA Today", "http://www.usatoday.com", :rel=>"external confirm" %></td>
                    </tr>
                    <tr>
                        <td><%= link_to "Real Pages.com", "http://yp.bellsouth.com", :rel=>"external confirm" %></td>
                    </tr>
                    <tr>
                        <td><%= link_to "Wall Street Journal", "http://www.wsj.com", :rel=>"external confirm" %></td>
                    </tr>
                    <tr>
                        <td><%= link_to "Find a Friend", "http://www.whowhere.com", :rel=>"external confirm" %></td>
                    </tr>
                </table>
            <table class="links">
                    <tr>
                        <th colspan="3"><%= image_tag "l_kids.gif", :alt=>"" %></th>
                    </tr>
                    <tr>
                        <td><%= link_to "Nickelodeon", "http://www.nick.com", :rel=>"external confirm" %></td>
                    </tr>
                    <tr>
                        <td><%= link_to "Disney", "http://www.disney.com", :rel=>"external confirm" %></td>
                    </tr>
                    <tr>
                        <td><%= link_to "Warner Bros.", "http://www.warnerbros.com", :rel=>"external confirm" %></td>
                    </tr>
                <tr>
                        <td><%= link_to "Happy Birthday!", "http://www.scopesys.com/today", :rel=>"external confirm" %></td>
                </tr>
                </table>
            <table class="links">
                    <tr>
                        <th><%= image_tag "l_cu.gif", :alt=>"" %></th>
                    </tr>
                    <tr>
                        <td><%= link_to "NCUA", "http://www.ncua.gov", :rel=>"external confirm" %></td>
                    </tr>
                    <tr>
                        <td><%= link_to "Credit Union National Assoc.", "http://www.cuna.org", :rel=>"external confirm" %></td>
                    </tr>
                    <tr>
                        <td><%= link_to "Better Business Bureau", "http://www.ky-in.bbb.org", :rel=>"external confirm" %></td>
                    </tr>
                <tr>
                        <td><%= link_to "Fed Reserve Board", "http://www.federalreserve.gov/", :rel=>"external confirm" %></td>
                </tr>
                </table>
                </div>
                <a name="memberdiscounts" id="memberdiscounts"></a>
            <p>DISCLAIMER:&nbsp;    The information provided by each of these
                services is the sole responsibility of the entity providing the
                information. The links to each entity is for the convenience
                of our members. Jefferson County Federal Credit Union makes no
                representation, warranty, or endorsement regarding the accuracy
                of the information provided. Any warranties or representations
                expressed or implied are hereby disclaimed in their entirety.</p>
    	</div>
    </div>