<div id="main_content" class="clearfix">
    	<div id="main_content_inner">
            <h2>How Does Identity Theft Occur?</h2>
            <ul>
                <li>Lost or stolen wallet, checkbook or credit card</li>
                <li>&ldquo;Dumpster Diving&rdquo;</li>
                <li>Insider Access</li>
                <li>Internet</li>
                <li>Hacking, viruses and spyware</li>
                <li>Business or personal records at work</li>
                <li>Friendly fraud</li>
                <li>Mail theft from an unlocked mailbox</li>
                <li>&ldquo;Shoulder surfing&rdquo;</li>
                <li>Data Breaches</li>
                <li>Access to a member&rsquo;s social security number and
                    name is key to identity theft</li>
                <li>New driver&rsquo;s licenses, new credit cards and credit
                    reports can be obtained</li>
                <li>Neglect by creditors and retailers may contribute to
                    successful identity theft transactions</li>
                <li>Pretext calling
                	<ul>
                        <li>Obtaining personal information via telephone call</li>
                        <li>Fraudulently posing as customer or employee</li>
                        <li>Attempts to divulge personal information to use for personal gain</li>
                    </ul>
                </li>    
                <li>E-mail scams: &ldquo;Phishing&rdquo;
                	<ul>
                        <li>Posing as legitimate message from a financial institution
                            or other business</li>
                        <li>Trick users into divulging personal and financial information</li>
                        <li>Messages can appear remarkably official</li>
                    </ul>
                </li>
                <li>Vishing&rdquo;
                    <ul>
                    <li>Identity thieves trick victims into providing personal
                        or financial information over the phone</li>
                    <li>Phone based phishing</li>
                    <li>Two variations of ishing&rdquo;
                        <ul>
                            <li>&sect;&nbsp;
                                E-mail received&mdash;appears to be from you financial
                                institution</li>
                            <li>&uml;
                                Given a number to call and prompted for you information</li>
                            <li>&sect;&nbsp;
                                Contacted over the phone instead of via e-mail</li>
                            <li>&uml;
                                Could either be a recorded message or a real person requesting
                                you to solve a problem with your account</li>
                        </ul>
					</li>
                </li>
                <li>&ldquo;Smishing&rdquo;
                    <ul>
                        <li>Text messaging via mobile phones</li>
                        <li>A text message is sent to the user&rsquo;s cell phone</li>
                        <li>Phone number is provided to call to &ldquo;reactivate
                            the account&rdquo;</li>
                    </ul>
                </li>
                <li>&ldquo;Pharming&rdquo;
                    <ul>
                        <li>Allows a hacker to redirect the web site&rsquo;s
                            traffic to another website</li>
                        <li>Similar to phishing as both involve fake web sites</li>
                        <li>Pharming is more insidious as it can redirect the
                            consumer to a fake website without their knowledge</li>
                        <li>&sect;&nbsp;
                            Attacker does not have to rely on the victim clicking
                                on a link contained in a bogus email</li>
                        <li>Consumer is tricked into providing personal information</li>
                    </ul>
                </li>
                <li>Telephone do-not-call list scams:
                    <ul>
                        <li>Asking to confirm
                            <ul>
                                <li>&sect;&nbsp;
                                    Addresses</li>
                                <li>&sect;&nbsp;
                                    Date of birth</li>
                                <li>&sect;&nbsp;
                                    Social Security numbers</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>E-mail Scams:
                    <ul>
                        <li>Person purports to be from Visa/MC</li>
                        <li>Security and fraud division</li>
                        <li>Asks if you made a specific purchase</li>
                        <li>Promises to make adjustment to your card</li>
                        <li>Needs card information </li>
                    </ul>
                </li>
                <li>New Technology
                    <ul>
                        <li>Digital cell phones
                            <ul>
                                        <li>&sect;&nbsp;
                                    Some experts predict this will be the new
                                        wave of ID theft</li>
                                <li>&sect;&nbsp;
                                    Consumer education is key
                                        <ul>
                                            <li>&uml;
                            Try to safeguard card from being seen or viewed by
                                others</li>
                                        </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>Victims Can Lose</li>
                <li>Employment opportunity</li>
                <li>Social Security benefits</li>
                <li>Work time</li>
                <li>Money - thieves can go on spending sprees using your
                    credit card or cards in your name</li>
                <li>Reputation  &ndash; your identity could be used in an
                    arrest</li>
            </ul>
            <h5>How to Protect Against Identity Theft?</h5>
            <ul>
                <li>Place a security freeze on your credit&mdash;may be a
                    fee
                    <ul>
                        <li>Will prevent others from applying for credit in your
                        name without you being contacted</li>
                    </ul>
                </li>
                <li>47 states and the District of Columbia have enacted laws
                    requiring the credit bureaus to protect their credit files with
                    a security freeze
                    <ul>
                        <li>Alabama, Michigan and Missouri offered voluntarily</li>
                    </ul>
                </li>
                <li>Arkansas, Kansas, Mississippi, and South Dakota only
                    allow a security freezes to identity theft victims</li>
                <li>Refer to the following for more information on security
                    freezes:
                    <ul>
                        <li><%= link_to "http://www.consumersunion.org/campaigns/learn_more/003484indiv.html", "http://www.consumersunion.org/campaigns/learn_more/003484indiv.html", :rel=>"confirm external" %></li>
                    </ul>
                </li>
                <li>Use a secured mailbox</li>
                <li>Shield your PIN number at the ATM or register</li>
                <li>Report lost or stolen credit cards immediately</li>
                <li>Shred anything that contains personal information</li>
                <li>Do not give out personal information over the phone</li>
                <li>If you sell something and the buyer provides a check
                    for more than the agreed upon price, do not send item sold, and
                    DO NOT send buyer the difference until the check clears</li>
                <li>Do not routinely carry your social security card, birth
                    certificate, passport or more than two credit cards</li>
                <li>Do not leave credit card, debit card and ATM receipts </li>
                <li>Do not leave bill payment envelopes at your mailbox for
                    the postal carrier to pick up
                    <ul>
                        <li>Raised red flag on a mailbox = $$$</li>
                    </ul>
                </li>
                <li>Eliminate pre-approvals 888-567-8688 (Opt Out Line)</li>
                <li>Immediately review your credit card statements, utility
                    bills, telephone bills for unauthorized use</li>
                <li>Contact the provider if necessary if you suspect unauthorized
                    use</li>
                <li>Order your credit reports annually
                    <ul>
                        <li>Review for accuracy and fraud</li>
                    </ul>
                </li>
                <li>Free Credit Report Program Underway
                    <ul>
                        <li>Program designed to help consumers get better understanding
                            of their credit and to promote accurate consumer
                            information</li>
                        <li>Consumers are allowed one free report per year from
                            each of the agencies</li>
                    </ul>
                </li>
                <li>To Get a Free Credit Report
                    <ul>
                        <li>Log on to www.AnnualCreditReport.com (a new web site
                            created jointly by the credit reporting companies</li>
                        <li>Or, call (877) FTC-HELP</li>
                        <li>Or, mail a standardized form to Box 105281, Atlanta,
                            GA 30348-5281</li>
                        <li>Note: You only get your report free &ndash; NOT YOUR
                            SCORE!</li>
                    </ul>
                </li>
                <li>Guard against overuse of your social security number
                    <ul>
                        <li>Do not print your social security number on your
                            checks</li>
                        <li>If a business requests to use your social security
                            number, ask to use an alternate number</li>
                    </ul>
                </li>
                <li>If you do not receive your credit card statement on time,
                    call the creditor and post office to see if a recent change of
                    address has been filed</li>
                <li>If you shop on the Internet, use a secure browser for
                    your purchase transactions</li>
                <li>Consider having your name removed from marketing lists</li>
                <li>Remove name from direct mail lists
                    <ul>
                        <li>DMA Mail Preference Service
                            <ul>
                                <li>&uml;
                                    P.O. Box 9008</li>
                                <li>&uml;
                                    Farmingdale, NY 11735-9008</li>
                                    </ul>
                        </li>
                    </ul>
                </li>
                <li>Pick up new check orders at your financial institution
                    instead of having them mailed to your home</li>
                <li>Reduce Phone Solicitations
                    <ul>
                        <li>DMA Telephone Preference Service
                            <ul>
                                <li>&uml;
                                    P.O. Box 9014, </li>
                                <li>&uml;
                                    Farmingdale, NY 11735-9014</li>
                                    </ul>
                        </li>
                    </ul>
                </li>
                <li>Join National Do-Not-Call List
                    <ul>
                        <li>toll-free number 888-382-1222</li>
                        <li>online at <%= link_to "www.donotcall.gov", "http://www.donotcall.gov/", :rel=>"confirm external" %></li>
                    </ul>
                </li>
                <li>Consider not listing your number in the telephone book
                    or list only limited information</li>
                <li>Never respond to unsolicited e-mail that asks for personal
                    information</li>
                <li>Resist the urge to provide information requested via
                    e-mail despite exaggerated claims</li>
                <li>Read unsolicited e-mail text several times and ask yourself
                    why information requested is needed</li>
                <li>Call the organization identified using a telephone number
                    other than listed in e-mail</li>
                <li>Make a list of your credit cards and bank statements
                    in case your cards are lost or stolen</li>
                <li>Consider canceling your unused credit cards</li>
                <li>Do not use all or part of your social security number
                    in creating passwords or PINs</li>
                <li>Memorize all passwords or PINs</li>
                <li>Do not open email with unfamiliar addresses or link to
                    unknown sites</li>
                <li>Do not take email surveys or fill out email forms unless
                    you know it is from a valid web site</li>
                <li>Do not open e-mail attachments unless you know who they
                    are from and are safe</li>
                <li>Use proven software such as &ldquo;anti-spam&rdquo;, &ldquo;anti-virus&rdquo; and &ldquo;anti-spyware&rdquo;</li>
                <li>Military Personnel
                    <ul>
                        <li>Can place active duty alert on credit report
                            <ul>
                                <li>&sect;&nbsp;
                                    Must be member of military and away from
                                        usual duty station</li>
                                <li>&sect;&nbsp;
                                    Minimizes risk of identity theft while you
                                        are deployed</li>
                                <li>&sect;&nbsp;
                                    Effective one year
                                        <ul>
                                            <li>&uml;
                If deployment lasts longer, place another alert</li>
                                        </ul>
                                </li>
                            </ul>
                        </li>
                        <li>Business must verify identity prior to issuing credit
                            <ul>
                                <li>&uml;
                                Can assign a personal representative to place or remove alert</li>
                            </ul>
                        </li>
                        <li>Contact one of the three companies to place an alert
                            <ul>
                                <li>&sect;&nbsp;
                                    Equifax 1-800-525-6285 <%= link_to "www.equifax.com", "http://www.equifax.com/", :rel=>"confirm external" %></li>
                                <li>&sect;&nbsp;
                                    Experian 1-888-EXPERIAN (397-3742) <%= link_to "www.experian.com", "http://www.experian.com/", :rel=>"confirm external" %></li>
                                <li>&sect;&nbsp;
                                    TransUnion 1-800-680-7289 <%= link_to "www.transunion.com", "http://www.transunion.com/", :rel=>"confirm external" %></li>
                                    </ul>
                        </li>
                    </ul>
                </li>
                <li>What to Do If You Are a Victim?</li>
                <li>Report to your local police immediately</li>
                <li>&nbsp;Ask the police to issue a police report
                    <ul>
                        <li>If the police are reluctant to take a report, ask
                            them to file a &ldquo;Miscellaneous Incident&rdquo; report
                        or try another jurisdiction like the state police</li>
                    </ul>
                </li>
                <li>Request that a fraud alert be placed in your file
                    <ul>
                        <li>Contact one of the three credit bureaus below:
                            <ul>
                                <li>&sect;&nbsp;
                                    TransUnion: 1-800-680-7289; <%= link_to "www.transunion.com", "http://www.transunion.com/", :rel=>"confirm external" %>;
                                    Fraud Victim Assistance Division, P.O. Box
                                    6790, Fullerton, CA 92834-6790 </li>
                                <li>&sect;&nbsp;
                                    Equifax: 1-800-525-6285; <%= link_to "www.equifax.com", "http://www.equifax.com/", :rel=>"confirm external" %>;
                                    P.O. Box 740241, Atlanta, GA 30374-0241 </li>
                                <li>&sect;&nbsp;
                                    Experian: 1-888-EXPERIAN (397-3742); <%= link_to "www.experian.com", "http://www.experian.com/", :rel=>"confirm external" %>; P.O.
                                    Box 9532, Allen, TX 75013</li>
                            </ul>
                        </li>
                        <li>Note: You only need to place a fraud alert at one
                        bureau</li>
                    </ul>
                </li>
                <li>Two types of fraud alerts&mdash;initial alert and extended
                    alert</li>
                <li>Initial fraud alert&mdash;90 days
                    <ul>
                        <li>If you suspect you are a victim of ID theft
                            <ul>
                                <li>&sect;&nbsp; Stolen wallet</li>
                                <li>&sect;&nbsp; &ldquo;Phishing&rdquo;  scam</li>
                            </ul>
                        </li>
                        <li>Potential creditors must use &ldquo;reasonable policies
                            and procedures&rdquo; to verify identity before issuing
                            credit in your name</li>
                        <li>Entitled to one free credit report from each of the
                            three nationwide consumer reporting companies</li>
                    </ul>
                </li>
                <li>Extended fraud alert&mdash;7 years
                    <ul>
                        <li>Victim of ID theft and provide consumer reporting
                            company with an Identity Theft Report. </li>
                        <li>Potential creditors must contact you or meet you
                            in person prior to issuing credit</li>
                        <li>Entitle to two free credit reports within twelve
                            months from each of the three nationwide consumer
                            reporting companies</li>
                        <li>Consumer reporting companies remove name from marketing
                            lists for pre-screened credit offers for five years
                            unless you ask them to put your name back on the
                            list before then</li>
                    </ul>
                </li>
                <li>File complaint with the Federal Trade Commission (FTC)
                    <ul>
                        <li>1-877-IDTHEFT (438-4338); TTY:1-866-653-4261</li>
                        <li><%= link_to "https://www.ftccomplaintassistant.gov", "https://www.ftccomplaintassistant.gov/", :rel=>"confirm external" %></li>
                        <li>Or write
                            <ul>
                                <li>
                                    Identity Theft Clearinghouse<br />
                                	Federal Trade Commission<br />
                                	600 Pennsylvania Avenue N<br />
                                	Washington, DC&nbsp; 20580<br />
                                    </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>Be sure to call the hotline to update your complaint
                    if you have any additional information or problems</li>
                <li>Request a copy of your credit report&nbsp;&nbsp; 
                    <ul>
                        <li>Check each credit report carefully</li>
                    </ul>
                </li>
                <li>Request each credit reporting agency to remove all erroneous
                    information</li>
                <li>Ask each credit reporting agency to send you a copy of
                    the corrected credit report</li>
                <li>Call each affected credit card issuer to close and reissue
                    all affected accounts</li>
                <li>Ask each credit card issuer about the status of your
                    account 
                    <ul>
                        <li>&nbsp;Instruct the issuer not to honor any requests
                            for information changes</li>
                    </ul>
                </li>
                <li>Close and reissue any affected checking and savings accounts&nbsp;&nbsp; 
                    <ul>
                        <li>Ask the financial institution to attach a unique
                        identifier to your accounts</li>
                    </ul>
                </li>
                <li>Get a new ATM card and PIN</li>
                <li>Contact the Department of Motor Vehicles if you suspect
                    someone is using your driver&rsquo;s license number</li>
                <li>Contact the Social Security Administration if your social
                    security number has become associated with bad checks and credit</li>
                <li>Call 800-772-1213 to check your Social Security statement</li>
                <li>Notify the Postal Inspector if you suspect your mail
                    has been stolen or a fraudulent change of address has been filed
                    in your name</li>
                <li>Notify the passport office that the perpetrator may apply
                    for a new passport in your name</li>
            </ul>
            <h5>List of Helpful Resources</h5>
            <ul>
                <li>To Get a Free Credit Report
                    <ul>
                        <li>Log on to <%= link_to "www.AnnualCreditReport.com", "http://www.annualcreditreport.com/", :rel=>"confirm external" %> a
                            new web site created jointly by the credit reporting
                            companies</li>
                        <li>Or, call (877) FTC-HELP</li>
                        <li>Or, mail a standardized form to Box 105281, Atlanta,
                            GA 30348-5281</li>
                    </ul>
                </li>
                <li>The FTC&rsquo;s Warning to Consumers:
                    <ul>
                        <li>Beware of scammers who might send e-mails pretending
                            to offer a free report as a way to elicit personal
                            information</li>
                        <li>Credit bureaus are prohibited from sending e-mails
                            or using pop-up ads</li>
                    </ul>
                </li>
                <li>Federal Trade Commission
                    <ul>
                        <li>
                            Identity Theft Clearinghouse<br />
                            600 Pennsylvania Avenue, NW<br />
                            Washington, DC 20580<br />
                            <%= link_to "www.consumer.gov/idtheft", "http://www.consumer.gov/idtheft", :rel=>"confirm external" %><br />
                            Report Fraud:<br />
                            (877) IDTHEFT (438-4338)</li>
                    </ul>
                </li>
                <li>U.S. Postal Inspection Service
                    <ul>
                        <li>
                            475 L&rsquo;Enfant Plaza SW<br />
                            Washington, DC 20260<br />
                            <%= link_to "www.usps.gov/postalinspectors", "https://postalinspectors.uspis.gov/", :rel=>"confirm external" %><br />
                            Mail Fraud Complaint Center:<br />
                            (800) 372-8347</li>
                    </ul>
                </li>
                <li>Websites
                    <ul>
                        <li><%= link_to "www.identitytheft.org", "http://www.identitytheft.org/", :rel=>"confirm external" %></li>
                        <li><%= link_to "www.privacyrights.org", "http://www.privacyrights.org/", :rel=>"confirm external" %></li>
                        <li><%= link_to "www.ssa.gov", "http://www.ssa.gov/", :rel=>"confirm external" %></li>
                        <li><%= link_to "www.bos.frb.org/consumer/identity/index.htm", "http://www.bos.frb.org/consumer/identity/index.htm", :rel=>"confirm external" %></li>
                    </ul>
                </li>
            </ul>
    	</div>
    </div>