<div id="main_content" class="clearfix">
    	<div id="main_content_inner">
    	<h2>Online Services</h2>
        <p>For the latest in convenience, Jefferson County FCU offers its online services. Check back often for future services! </p>
        
        <table class="indent">
        	<tr class="highlight">
            	<td><%= link_to "Secure Account Access", root_path %></td>
                <td>Access your accounts NOW!</td>
            </tr>
            <tr>
            	<td><%= link_to "Secure Loan Application", new_loanapp_path %></td>
                <td>Apply for Loans online!</td>
            </tr>
			<tr class="highlight">
            	<td><%= link_to "Online Documents", ondoc_path %></td>
                <td>Online access to our newsletter and sign-up forms for some of our services!</td>
            </tr>            
            <tr>
            	<td><%= link_to "Loan Calculator", slc_path, :rel=>"popup:500:550:1:0" %></td>
                <td>Calculate what an approximate monthly payment will be on a new loan.</td>
            </tr>
            <tr class="highlight">
            	<td><%= link_to "Secure Membership Application", new_memapp_path %></td>
                <td>Apply for JCFCU Membership</td>
            </tr>
            <tr>
            	<td><%= link_to "Guest Book", new_guestbook_path %></td>
                <td>Drop us a note so that we'll get to know our &quot;Cyber Members&quot;</td>
            </tr>
            <tr class="highlight">
            	<td><%= link_to "Privacy Statement", privacy_path %></td>
                <td>The privacy of our members and other visitors to this website is of the utmost importance</td>
            </tr>
        </table>
        
        </div>
    </div>