<div id="main_content" class="clearfix">
    	<div id="main_content_inner">
    	<h2>Online Documents</h2><%= link_to image_tag("getacro.gif", :alt=>"", :class=>"fleft clearfix"), "http://get.adobe.com/reader", :rel=>"confirm external" %>
        <p>Members now have online access to our newsletter, The Credit Union Journal, plus for your convenience, additional sign-up forms for some of our services. You will need the Adobe Acrobat Reader plugin for viewing. If you don't have this plugin already, click the &quot;Get Acrobat Reader&quot; button which will take you to Adobe's web site, then follow the simple download instructions for a free installation. This tool will enable your browser to view the documents so that you can print them from your computer.</p>
        
        <div class="clearfix"></div>
        <ul class="ondoc">
        <li class="ondochead"><h4>Downloadable Forms</h4></li>
        	<li><%= link_to "Overdraft Opt In Form &amp; Disclosure", "pdf/Safe Landing For ATM-Debit Transactions.pdf" %></li>
            <li><%= link_to "Safelanding Courtesy Pay Disclosure", "pdf/Safe Landing 2008x.pdf" %></li>
            <li><%= link_to "JCFCU Home Branch App", "pdf/generic_appl.pdf" %></li>
            <li><%= link_to "Share Account Agreement", "pdf/memagr_n.pdf" %></li>
            <li><%= link_to "Additional Account Terms", "pdf/d_adterm.pdf" %></li>
            <li><%= link_to "Standard Disclosure Statement", "pdf/Disc_new.pdf" %></li>
            <li><%= link_to "Your Ability to Withdraw Funds", "pdf/d_regcc.pdf" %></li>
            <li><%= link_to "Schedule of Fees", "pdf/sof.pdf" %></li>
            <li><%= link_to "Electronic Services Disclosure &amp; Agreement", "pdf/Discl_REG_E_Web.pdf" %></li>
            <li><%= link_to "Financial Privacy Opt Out Form", "pdf/priv_opt.pdf" %></li>
            <li><%= link_to "Internet Safety Tips", "pdf/InternetSafetyTips.pdf" %></li>
            <li><%= link_to "Protect Yourself from Overdraft Fees", "pdf/FCU_BounceProtection.pdf" %></li>
            <li><%= link_to "Protect Yourself From PHISHING Scams", "pdf/FCU_PhishBrochure-Web.pdf" %></li>
            <li><%= link_to "Your Federally Insured Savings", "pdf/FCU_Insuredfunds_brochure1.pdf" %></li>
        </ul>
        
        <ul class="ondoc">
        <li class="ondochead"><h4>JCFCU Newsletter Archives</h4></li>
        <li><%= link_to "Newsletter -July 2010", "pdf/NL_July2010.pdf" %></li>
		<li><%= link_to "Newsletter - April 2010", "pdf/NL-April2010.pdf" %></li>
        <li><%= link_to "Newsletter - January 2010", "pdf/NL-Jan2010.pdf" %></li>
        <li><%= link_to "Newsletter - October 2009", "pdf/NL-Oct2009.pdf" %></li>
        <li><%= link_to "Newsletter - July 2009", "pdf/NL-July2009.pdf" %></li>
        </ul>
        
        </div>
    </div>