<div id="main_content" class="clearfix">
    	<div id="main_content_inner">
        <h2>Products &amp; Services</h2>
        <p>Value-added services have always been a paramount issue for the members of the Jefferson County Federal Credit Union. Although we pride ourselves on our ability to provide friendly and knowledgeable, yet personal, service we strongly adhere to our promise to be "member driven". In following this creed, we continually strive to offer the best array of ancillary services to our membership. </p>
        
        <p class="subhead"><a name="loans" id="loans"></a>Loan Products</p>
        <p>The credit union offers a wide array of loan products. The <%= link_to "interest rate", rates_path(:anchor => "lrates") %> charged on loans is consistently under market rates. Our terms are designed to accommodate any budget. There is never a prepayment penalty on any credit union loan.</p>
        
        <ul>
        	<li>First Mortgage loans for the purchase of a new home or the refinancing of an existing home loan are available. Our rates and terms are highly competitive. Closing costs are held to a minimum.</li>
            <li>Home Equity loans are available for just about any purpose you could want. We have fixed rate and variable rates with terms up to 15 years. A Line Of Credit feature is offered to borrowers who wish to obtain periodic advances. Our low closing costs may be financed or paid at closing.</li>
            <li>Your credit union is now offering 100% Equity Loans! You can now borrow up to 100% of the amount of real estate equity that you have in your primary residence. Loans are available for first and second mortgages. (Sorry, not available for purchase money loans). We offer open end variable rates loans and closed end fixed rate loans. Call our Loan Department (502) 429-4955 today and let us put a loan together specially suited for your needs.</li>
            <li>Automobile loans are offered for the purchase of both new and used vehicles. Terms up to 5 years make repayment a breeze. 100% financing is available to qualified borrowers. Mechanical Breakdown Insurance can be purchased and financed on qualifying vehicles. Want to shop for new and used automobile prices? Check out <%= link_to "NADA Guide", "http://www.nada.com", :rel=>"confirm external" %>, and then <%= link_to "get pre-approved with your credit union", new_loanapp_path %>!</li>
            <li>Boat loans, Computer loans, Recreational Vehicle loans, Farm Implement loans and other miscellaneously secured loans are available at terms and rates to make borrowing money or financing a purchase easy.</li>
            <li><a name="reversemortgage" id="reversemortgage"></a>Reverse Mortgage – (Home Equity Conversion) 
            <p>A &quot;reverse&quot; mortgage is a loan against your home that you do not have to pay back for as long as you live there. With a reverse mortgage, you can turn the value of our home into cash without having to move or to repay a loan each month. The cash you get from a reverse mortgage can be paid to you in several ways: all at once; as a regular monthly cash advance; as a &quot;credit line&quot; account that lets you decide when and how much of your available cash is paid to you; or as a combination of these payment methods. No matter how this loan is paid out to you, typically no payments are required until you sell your home, permanently move out of your home or pass away. To be eligible for most reverse mortgages, you must own your home and be 62 years of age or older. We invite you to examine this source of financial security during retirement that can fund your dreams and secure your future. Call the loan department at the main office to arrange an appointment.</p></li>
            <li>Signature loans are one of our most popular loans. Members may borrow up to $5000.00 free of collateral restrictions. Members may choose between line of credit loans or fixed term loans.</li>
            <li><a name="creditcard" id="creditcard"></a>VISA&reg; is offered to our membership. We offer both Classic and Platinum card with very attractive rates, credit limits, and features that are designed to match your lifestyle.  In addition to using your card for purchases, you may obtain cash advances at Automated Teller Machines bearing the VISA&reg; logo. 
              <p class="bold">Exclusively for JCFCU Members...the Money-Saving JCFCU VISA&reg;  Card issued by Fifth Third </p>
            <p class="center"><%= link_to image_tag("visaplatinum.jpg", :alt=>"") + "<br />Apply NOW", "http://www.bankcardoffer.com/jcfcu", :rel=>"confirm external" %></p>
            </li>
        </ul>
        
        <p class="subhead">Deposit &amp; Consumer Products </p>
        <p>As the primary depository institution for many of our members, the Jefferson County Federal Credit Union endeavors to provide all of the different types of high quality deposit accounts that our membership demands. All dividend paying accounts consistently pay above market rate. Direct deposit is welcome. All accounts are federally insured by the National Credit Union Administration up to $250,000.00.</p>
        
        <ul>
        	<li><a name="shares" id="shares"></a><span class="bold">SAVINGS ACCOUNTS</span> - Share Accounts are the primary accounts used by the membership. Our share accounts are accounts that are comparable to bank passbook accounts. Members are invited to deposit into their share accounts directly or by payroll deduction. Above market dividends are paid quarterly on the average daily balance. Unrestricted withdrawal privileges are afforded on this account. The minimum balance requirement is $25.00.</li>
            <li><a name="checking" id="checking"></a><span class="bold">CHECKING ACCOUNTS</span> - Share Draft Accounts are the second most popular account offered by the credit union. The share draft account is a true "Free" checking account. There is no minimum balance, no monthly service charge or charge per item. Access to the JEANIE, PULSE and PLUS networks is free for the first seven visits unless the ATM you choose charges a surcharge. We have no control over other machine owners. We do however have an arrangement with the ALLIANCE ONE network and you will not be charged a surcharge there. Preauthorized payments for recurring payments or deposits can be set up to post to the share draft account. Deposits can be made at the JEANIE and PULSE networks only.</li>
  <li><a name="moneymarket" id="moneymarket"></a><span class="bold">MONEY MARKET CHECKING</span> - Cash Investment Accounts (CIA) provide our membership with money market rates coupled with the convenience of checking. We offer unrestricted access to the Cash Investment Account, fee free. As with the share draft account, unrestricted access to the ATM network is provided free. Above market dividends are paid monthly on this account. The minimum balance requirement is $1000.00. These are available for corporations and organizations of our natural person members and referred to as Corporate Cash Investment Account (CCIA).</li>
            
            
			<li><a name="rewardsplus" id="rewardsplus"></a><span class="bold">REWARDS +PLUS+ CHECKING</span> <%= link_to "Click Here", promotions_path %> For More Information</li>   
            
 <li><span class="bold"><a name="directdeposit" id="directdeposit"></a>DIRECT DEPOSIT</span> - Direct Deposit your payroll to the credit union. It’s safer, faster and easier. You can also direct deposit your federal income tax refund.</li>
          <li><span class="bold"><a name="autopay" id="autopay"></a>AUTOMATIC PAYMENTS</span> - Have your monthly insurance premiums, mortgage payments, utility bills, credit card payments or any other recurring payment deducted from your checking account automatically. You can also have your social security, pension, other retirement payments or your net pay from most employers deposited to your checking account automatically. Call the main office for any questions you may have.</li>
                               
			<li><span class="bold">DEBIT CARDS</span> - No Monthly Fee! Your point of sale (POS) purchases will be deducted from your share draft or CIA account just like they’ve been and it will be accepted at any merchant displaying the MasterCard logo.
            <p class="center"><%= image_tag "mastercard.gif", :alt=>"", :class=>"image" %></p>
            <p>In addition it also accesses your account as an ATM card at any machine displaying any logo below.</p>
            <p class="center"><%= image_tag "jeanie.gif", :alt=>"", :class=>"image" %><%= image_tag "pulse.gif", :alt=>"", :class=>"image" %><%= image_tag "plus.gif", :alt=>"", :class=>"image" %></p>
            <p>As always ATM transactions are <span class="bold">SURCHARGE FREE</span> at any machines displaying the Alliance One Logo below.</p>
          </li>
            
            <li><span class="bold"><a name="atms" id="atms"></a>ATM INFORMATION</span> - A list of the machines are available on the Alliance One website click <%= link_to "here", "http://www.atmallianceone.org/", :rel=>"confirm external" %>.
<p>In addition ATM transactions at any Fifth Third Bank &quot;Jeanie ATM&quot; is <span class="bold">SURCHARGE FREE</span> to JCFCU members.  There are over 1,800 machines in the region.  JCFCU has reached an agreement with Fifth Third Bank in which we will be subsidizing members' surcharges at Fifth Third Bank ATMs. </p>
            <p class="center"><%= image_tag "allianceone.gif", :alt=>"", :class=>"image" %><%= image_tag "jeanie.gif", :alt=>"", :class=>"image" %></p>
          </li>
            
            <li><span class="bold"><a name="billpayer" id="billpayer"></a>BILL PAYER</span> - The program is very easy to use and it is FREE. You must have a Share Draft (checking) Account with JCFCU. There is no limit to the number of monthly transactions you can make. Log on to our website, go to &quot;Home Branch&quot; via the account access button, click the Bill Payer button and complete the enrollment form on our secure site. We will respond via e-mail your approval status in 2 business days or less. For those of you that want to review it first, there is demo site as well. Once you are approved you may pay most bills from the comfort and privacy of your personal computer on our secured website. When you log in you may view and/or print all pertinent disclosures and details.</li>
            
            <li><span class="bold"><a name="overdraft" id="overdraft"></a>OVERDRAFT PROTECTION</span> - We understand. It happens to everyone. You made an honest mistake in your checkbook. You’re a little short of cash two or three days before payday. Unusual or unforeseen expenses popped up at just the wrong time. Let Safe Landing Direct Deposit come to the rescue! Safe Landing Direct Deposit will prevent embarrassing moments when these little emergencies arise. Instead of returning overdrawn items on your share draft account, we will automatically pay them for you, up to the SL limit of $500. Safe Landing Direct Deposit adds a pre-approved $500 overdraft limit to your personal share draft account. If you overdraw your account, we may pay your share draft(s) up to the aggregate $500 limit. Your account will be assessed a Non-Sufficient Funds and/or Safe Landing Direct Deposit charge of $25 for each item we pay against an overdrawn account. As always, if the funds are available in your Regular Share account, we will transfer those funds to pay the item before initiating the Safe Landing Direct Deposit. There are many benefits to you with this new authorization. 
            <ul>
            	<li>You won't pay merchant returned share draft charges. </li>
                <li>You won't pay collection agency fees for returned share draft charges. </li>
                <li>You avoid the embarrassment of insufficient funds returned share drafts. </li>
                <li>You have the added measure of safety protecting your good credit rating. </li>
            </ul>
            This is not available for any account that has been open less than 90 days. We will notify you by mail when this service becomes available to you.
            <p><%= image_tag "od_plane.gif", :class=>"image", :alt=>"" %></p>
          </li>
          
            <li><span class="bold">IRA ACCOUNTS</span> - Individual Retirement Accounts are available to members seeking a vehicle for tax-sheltered savings. The credit union offers two options for investment. Our IRA Accumulation account provides our membership with a "passbook" type account. The Accumulation account offers unrestricted deposit and withdrawal privileges. Above market dividends are paid quarterly on the average daily balance. The minimum balance requirement is $5.00.  There are new ways to take advantage of tax-free AND tax-deferred savings through individual retirement accounts (IRAs). Perhaps the biggest news for retirement investors is the creation of the Roth IRA, which allows you to grow your retirement savings and withdraw them at retirement paying 0% capital gains tax! Check out <%= link_to "IRA Options", ira_path %> for more details. </li>
            
			<li><span class="bold">IRA CERTIFICATES OF DEPOSIT</span> - Our regular above market certificate rates and favorable terms can be applied to IRA deposits as well. The minimum balance requirement is $500.00 and the minimum term is one year. </li>            
            <li><a name="christmas" id="christmas"></a><span class="bold">CLUB ACCOUNTS</span> - Club Accounts for Christmas Savings, Vacations, Escrow, Kids and other provident purposes are provided. These deposits earn above market rates.</li>
            
            <li><a name="certificates" id="certificates"></a><span class="bold">CERTIFICATES OF DEPOSIT</span> - Share Certificates provide our members with the vehicle to lock away deposits for longer terms entitling the member to an even higher dividend rate. Members are invited to select from terms ranging from three months to five years. In contrast to many depository institutions, the member's principal is never penalized in the event of early withdrawal. The minimum balance requirement is $500.00.</li>
          <li><span class="bold"><a name="achorig" id="achorig"></a>ACH ORIGINATION</span> - This service allows you to transfer funds from your credit union account to an account at another financial institution in a quick and easy way. This also allows you to make a loan payment to us from an account with another institution or vice versa. Contact the Support Services Department at the Main Office for full details.</li>
       </ul>
       
       <p class="subhead"><a name="statements" id="statements"></a>E-Statements Are Here!</p>
       <p><%= image_tag "estatements.jpg", :alt=>"" %></p>
       <p>No need to wait for the postman to deliver your statement anymore! E-Statements can now be delivered directly to your computer! Beginning April 1st, you can sign up for E-Statements. It is quick and easy. All you need is a computer and a valid email address. </p>
       <p>Just <%= link_to "log on to our Home Branch", root_path %>, follow the E-Statement link, and register. You will receive monthly notification that your E-Statement is available. Your postman will be glad that you did! </p>
       <p class="subhead"><a name="amusement" id="amusement"></a>Discount Tickets to Amusement Parks</p>
       <p class="center disclaimer">Discount Tickets To Amusement Parks Nationwide Are Available At All Locations </p>
       <table class="center">
       <tr class="bold highlight">
       <td>Park</td>
       <td>Adult</td>
       <td>Child</td>
       <td>Senior</td>
       </tr>
       <tr>
       <td>Cedar Point</td>
       <td>$40.00</td>
       <td>$18.50</td>
       <td>$18.50</td>
       </tr>       
       
       <tr class="highlight">
       <td>Cincinnati Zoo</td>
       <td>$11.50</td>
       <td>$8.00</td>
       <td>$8.00</td>
       </tr>   
       <tr>
       <td>Holiday World</td>
       <td>$36.00</td>
       <td>$30.00</td>
       <td>$30.00</td>
       </tr>   

       <tr class="highlight">
       <td>King's Island</td>
       <td>$25.00</td>
       <td>$25.00</td>
       <td>$25.00</td>
       </tr>                        
       
       <tr>
       <td>Louisville Zoo</td>
       <td>$10.75</td>
       <td>$8.00</td>
       <td>$10.75</td>
       </tr>   
       <tr class="highlight">
       <td>Newport Aquarium</td>
       <td>$20.50</td>
       <td>$14.00</td>
       <td>$20.50</td>
       </tr>   
       <tr>
       <td>The Beach</td>
       <td>$18.00</td>
       <td>$9.50</td>
       <td>$18.00</td>
       </tr>   
       <tr class="highlight">
       <td>Creation Museum</td>
       <td>$15.50</td>
       <td>$9.50</td>
       <td>$15.50</td>
       </tr> 
       </table> 
       <p class="center disclaimer">Tickets Are Available Seasonally (Usually Between May and September)<br />
Dates And Times of Park Operations Are Subject to Change Without Notification<br />
All Sales Final - No Refunds or Exchanges<br />
All Prices Are For One Day Tickets Only </p>  

<p class="subhead"><a name="insurance" id="insurance"></a>Insurance Plans</p>
<p>Group Insurance Plans can be purchased and funded via your credit union account. Term Life, Accidental Death &amp; Dismemberment ($1,000.00 provided free), Full Life, Cancer &amp; Dread Disease, Salary Continuation, Long Term Care and Supplemental Retirement Insurance can be purchased individually or for families.</p>

<p class="subhead"><a name="homebranch" id="homebranch"></a>Home Branch Account Access</p>
<p>Home Branch affords our membership access to their accounts twenty-four hours a day, seven days a week via a computer with internet access. Balance inquiries, check requests, check clearing information, fund transfers, other transfers, check ordering, check holds, canceled check copies, account alerts, tax information, data downloads, change contact information and PIN, e-Statements and other services are available.</p>

<p class="subhead"><a name="telephone" id="telephone"></a>Telephone Account Access</p>
<p>INFO TELLER affords our membership access to their accounts twenty-four hours a day, seven days a week via touch-tone telephone. Balance inquiries, check requests, check clearing information, fund transfers, current deposit and loan rate information and many other services are available.</p>

<p class="subhead"><a name="consumer" id="consumer"></a>Consumer Assistance Information</p>

<table class="center">
<tr>
<td>TRANS UNION CORP.<br />
P.O. BOX 390<br />
SPRINGFIELD, PA 19064-0390<br />
800.916.8800</td>
<td>CSC CREDIT SERVICES, INC.<br />
P.O. BOX 674402<br />
HOUSTON, TX 77267-4402<br />
800.759.5979</td>    
</tr>

<tr>
<td>EXPERIAN (fka TRW)<br />
P.O. BOX 749029<br />
DALLAS, TX 75974<br />
888.397.3742<br />
</td>
<td>FAIR ISSAC CREDIT SCORE HOTLINE<br />
800.777.2066
</td>  
</tr>
</table>  
      </div>
    </div>