<div id="main_content" class="clearfix">
    	<div id="main_content_inner">
            <table class="promotions">
                <tr>
                    <td class="red">
                    EARN 2.00% APY DIVIDEND ON YOUR CHECKING ACCOUNT<br />
                    UP TO $15 PER MONTH IN FOREIGN ATM SURCHARGE REFUNDS<br />
                    NO MINIMUM BALANCE REQUIREMENT
                    </td>
                    <td><%= image_tag "Rewardsp1.jpg", :alt=>"" %></td>
                    <td class="purple">CONVERT YOUR EXISTING ACCOUNT OR OPEN A NEW ONE 
                        <p class="red">PUT SOME MONEY IN YOUR POCKET 
                        DON'T MISS OUT ON THIS!</p></td>
                </tr>
            </table>
            <table class="promotions">
            <tr>
            <td>
            <p><strong>ADDITIONAL BENEFITS</strong><br /><br />
                * FREE DEBIT MASTERCARD<br />
                * FREE ONLINE BANKING<br />
                * FREE BILL PAYER<br />
                * FREE E-STATEMENTS<br />
                * OVERDRAFT PROTECTION<br />
                * FREE ONLINE CHECK COPIES<br />
                * MANY SURCHARGE FREE ATMs<br />
                * MINIMUM DIVIDEND RATE EVEN IF YOU DO NOT
                ACCOMPLISH ALL REWARD REQUIREMENTS<br />
                * FREE AUDIO ACCESS<br />
                * NO LIMIT ON THE NUMBER OF CHECKS YOU CAN 
                WRITE<br />
                * FREE POINT OF SALE TRANSACTIONS (POS)
            </p>
            </td>
            <td>
            <p><strong>HERE'S ALL YOU NEED TO DO TO QUALIFY</strong></p>
            <p>
                HAVE A VALID E-MAIL ADDRESS WE CAN SEND NOTIFICATIONS TO<br />
                RECEIVE YOUR JCFCU REWARD ACCOUNT STATEMENT AS AN E-STATEMENT<br />
                HAVE 10 DEBIT POS OR MORE TRANSACTIONS TO THE REWARD ACCOUNT
                IN AN AGGREGATE AMOUNT OF GREATER THAN $250<br />
                HAVE 1 DIRECT DEPOSIT OR MORE POST TO THE REWARD ACCOUNT<br />
                HAVE 1 ACH DEBIT TRANSACTION OR MORE POST TO THE REWARD ACCOUNT<br />
                ACCESS HOME BRANCH<br />
                HAVE 1 BILL PAYER TRANSACTION OR MORE POST TO THE REWARD ACCOUNT<br /><br />
                * ACHIEVE ALL GOALS IN EACH CALENDAR PROCESSING MONTH TO 
                RECEIVE REWARDS<br />
                * QUALIFY FOR THE INDIVIDUAL SERVICES REQUIRED TO QUALIFY FOR
                REWARDS PLUS CHECKING	
            </p></td>
            </tr>
            </table>
            <ol>
                <li>Members must apply for and be fully qualified for the required services in this program/promotion.</li>
                <li>Members must achieve all goals in each calendar processing month to receive rewards.</li>
                <li>Valid qualifying activity will be determined by the posting date of our core system.</li>
                <li>If we process month end before the actual last calendar day of said month any activity after that will count toward the following
                calendar processing month's requirement.</li>
                <li>There is no minimum balance requirement to participate.</li>
                <li>We will refund up to $15 per month in foreign ATM surcharge fees maximum during a calendar processing month.</li>
                <li>The minimum dividend paid will be 1/4 percent (.25%) on all funds that do not qualify for the reward rate.</li>
                <li>Dividend will be paid and calculated on average daily balance in the reward account. Activity or deposits in any other account will not impact dividend calculation or count
                toward the requirements of rewards account.</li>
                <li>The minimum dividend rate will be paid on all average daily balances that do not qualify for rewards and any amount greater than $25,000.</li>
                <li>You will receive a reminder on your statement message of the required goals.  If you do not receive the reward rate you can review that information
                and check your statement to help you determine what qualification(s) you missed.</li>
                <li>We will continue to charge our fee after 7 ATM transactions monthly even if refund a foreign surcharge.</li>
                <li>This type of account is limited to one per member number.</li>
                
                <li>This type of account is available to natural person members only.  Non natural person (Business Accounts) do not qualify to participate in Rewards Plus Checking.</li>
                <li>All policies and procedures that apply to an individual service required as a part of this promotion will remain in effect per that policy, regulations
                and/or procedure.</li>
                <li>Dividend is calculated daily and applied monthly as detailed in our &quot;Standard Disclosure Statement.&quot;</li>
                <li>The dividend rates and APYs on this account are subject to change monthly at our discretion.</li>
            </ol>
            <p>&nbsp;</p>
            <table class="promotions">
                <tr>
                    <td><strong>www.jcfcu.org<br />
                            <br />
                    Effective 01-01-10</strong></td>
                    <td><%= image_tag "header_logo.jpg", :alt=>"" %></td>
                    <td><%= image_tag "NCUARewadsPlus.gif", :alt=>"NCUA" %></td>
                </tr>
            </table>
            <p><br />
            </p>
            <hr /><br />
<a name="autodiscounts"></a><br />
			<p class="center"><%= image_tag "car_sales.jpg", :alt=>"" %></p><br />
		    <p class="blue center bold">Special Discounts For New and Used Car Purchases<br />
			<em>For Jefferson County Federal Credit Union Members Only</em></p>
			<p class="blue center"><strong>Enterprise Car Sales</strong><br />
			Everyday discounted pricing<br />
			Many makes &amp; models<br />
			Click <%= link_to "here to visit our website for complete information", "http://www.enterprisecarsales.com/carsales/deeplinkmap.do?bid=009&amp;cust=CUREF&amp;cur=cu_referraltarget=", :rel=>"confirm external" %>.</p>
        </div>
    </div>