 <div id="main_content" class="clearfix">
    	<div id="main_content_inner">
        <h2>What's New</h2>
        <h5>E-Statements Are Here!</h5>
        <%= image_tag "estatements.jpg", :width=>570, :height=>74, :alt=>"" %>
        <p>No need to wait for the postman to deliver your statement anymore! E-Statements can now be delivered directly to your computer! Beginning April 1st, you can sign up for E-Statements. It is quick and easy. All you need is a computer and a valid email address. </p>
        <p>Just log on to our Home Branch, follow the E-Statement link, and register. You will receive monthly notification that your E-Statement is available. Your postman will be glad that you did! </p>
        
        <ul>
        	<li><%= link_to "E-Statement FAQs", "https://clientadmin.digitalmailer.com/clientfiles/171/estatementfaq.html", :rel=>"confirm external" %></li>
            <li><%= link_to "Click here to view demo e-Statement screens", "https://clientadmin.digitalmailer.com/clientfiles/171/demojumppage.html", :rel=>"confirm external" %></li>
        </ul>
        
        <h5>Identity Theft Information</h5>
        <%= link_to image_tag("ID_Theft_pg_468x60.gif", :width=>468, :height=>60, :alt=>""), "https://www.privacyguard.com/global/scripts/promo.asp?ref=PG57JCFCUOL0001", :rel=>"confirm external" %>
        <p>Identity Theft is the fastest growing crime in the United States, impacting one of every 23 persons annually. It can occur without your knowledge and usually goes undetected for months, even years. Recovering your identity takes a significant investment in time and money to resolve. </p>
        <p><%= link_to "Click Here", "https://www.privacyguard.com/global/scripts/promo.asp?ref=PG57JCFCUOL0001", :rel=>"confirm external" %> for details on how to take advantage of this program that will give you both security and peace of mind. </p>
        </div>
    </div>