<div class="headings spacer">
            <h3>Announcements</h3>
            <ul>
            	<li><%= link_to "Overdraft Opt In Form &amp; Disclosure", "pdf/Safe Landing For ATM-Debit Transactions.pdf" %></li>
                <li><%= link_to "E-Statements - Enroll Now", whatsnew_path %></li>
                <li><%= link_to "ID Recovery Services", idtheft_path %></li>
                <li><%= link_to "Emergency Alert Network – Enroll Now", "http://www.emergencyalertnetwork.us/credit-unions.html", :rel=>"confirm external" %></li>
                <li><%= link_to "&quot;FREE&quot; Prescription Drug Card", discount_path %></li>
                <li><%= link_to "Federal Insurance Increased", "pdf/Share-Insurance_$250000.pdf" %></li>
                <li><%= link_to "JCFCU Deposits are safe", "pdf/InsuredDeposits.pdf" %></li>
                <li><%= link_to "Apply for a Credit Card", "http://www.bankcardoffer.com/jcfcu", :rel=>"confirm external" %></li>

            </ul>
            </div>