<div class="headings spacer">
            <h3>Other Information</h3>
            <ul>
            	<li><%= link_to "Account Access", signin_path %></li>
                <li><%= link_to "ID Theft Information", idtheftnets_path %></li>
                <li><%= link_to "Membership Eligibility", new_memapp_path %></li>
                <li><%= link_to "Newsletter and Forms", ondoc_path %></li>
                <li><%= link_to "Select Employer Groups", "pdf/selectemployee.pdf" %></li>
                <li><%= link_to "Employment Opportunities", employment_path %></li>
                <li><%= link_to "Helpful Links", helpfullinks_path %></li>
                <li><%= mail_to "mail@jcfcu.org?subject=E-Mail Notification List", "Sign up For Our E-Mail Alert List" %></li>
                <li><%= mail_to "mail@jcfcu.org?subject=Comments on Website Design and Functionality", "Send Comments on Site Functionality" %></li>
                <li><%= mail_to "mail@jcfcu.org?subject=General Comment", "E-Mail Us About Other Topics" %></li>                

                
            </ul>
            </div> 