<div class="headings">
	<h3>Remote Access Info</h3>
	<ul>
		<li><%= link_to "ATM Locations", prodserv_path(:anchor => "atms") %></li>
        <li><%= link_to "Free ATM Access Information", prodserv_path(:anchor => "atms") %></li>
        <li><%= link_to "Shared Branch Locations", ourcu_path(:anchor=>"sharedbranch") %></li>
        <li><%= link_to "Affiliated Organizations", affiliations_path %></li>
        <li><%= link_to "Board Member Login", new_boardlogin_path %></li>
    </ul>
</div> 